<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.stylerit.inf.inf1000.inf1000.service.Inf1000DAO">

	<!-- inf1000DAO.selectShopInfo -->
	<select id="selectShopInfo" parameterType="String" resultType="map">
		/* inf1000DAO.selectShopInfo - 샵 정보 조회 코드 */
		<![CDATA[ 
			SELECT 
				S_TEL
				,S_ADR
				,S_CLS_DAY
				,S_OP_H
				,S_CLS_H
				,S_INTR
			FROM SHOP
			WHERE 1=1 
		]]>
		<if test="!S_LOC_CD.equals('')" >
			<![CDATA[ 
				AND S_LOC_CD = #{param}
			]]>
		</if>	
		<![CDATA[ 			
			AND S_USE = 1
			AND S_DLT = 0
		]]>
	</select>
	
</mapper>