<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.stylerit.adm.adm1000.adm1100.adm1100.service.Adm1100DAO">

	<!-- adm1100DAO.updateMenuSequenceAjax -->
	<update id="updateMenuSequenceAjax" parameterType="map">
		/* adm1100DAO.updateMenuSequenceAjax - 메뉴 순서 업데이트 코드 */
			<![CDATA[
				UPDATE MENU
			]]>
			<if test="menuSequence != null and menuSequence != ''">
				<![CDATA[ 
			     	SET MN_SQ = #{menuSequence}
			  	]]>
			</if>	
			<![CDATA[ 
				WHERE 1=1
		  	]]>					
			<if test="menuName != null and menuName != ''">
			    <![CDATA[ 
			    	AND MN_NM = #{menuName}
			  	]]>
			</if>			
			<if test="S_LOC_CD != null and S_LOC_CD != ''">
			    <![CDATA[ 
			    	AND S_LOC_CD = #{S_LOC_CD}
			  	]]>
			</if>
	</update>

</mapper>